{{ form_start(form) }}
<div class="col m6">
    {{ form_row(form.email) }}
</div>
<div class="col m6">
    {{ form_row(form.firstname) }}
</div>
<div class="col m3">
    {{ form_row(form.lastname) }}
</div>
<div class="col m3">
    {{ form_row(form.phone) }}
</div>
<div class="col m3">
    {{ form_row(form.password) }}
</div>
<div class="col m6">
    {{ form_row(form.campus) }}
</div>

<div class="col s12">
    <button class="btn" type="submit">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}