{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="card light-blue darken-4" style="margin-top: 4em; padding-top: 2em">
            <div class="card-content row">
                <img src="{{ asset('img/no-profile.jpg') }}" width="200px" height="200px" alt="default">
                <h2 class="white-text">Profil de {{ contributor.firstname }} {{ contributor.lastname }}</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ contributor.email }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ contributor.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ contributor.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ contributor.phone }}</td>
                    </tr>
                    <tr>
                        <th>Activé</th>
                        <td>{{ contributor.enable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ contributor.roles ? contributor.roles|json_encode : 'pas de rôle trouvé' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn" href="{{ path('app_home') }}">Retour à la page d'accueil</a>

                <a class="btn" href="{{ path('contributor_edit', {'contributor': contributor.id}) }}">Editer le
                    profil</a>

            </div>
        </div>
    </div>
{% endblock %}
