{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="container row align">
        <div class=" card light-blue darken-4 col s12 m8 offset-m2 l6 offset-l3" style="padding: 1em 0 3em 0">
            <card class="card-content">
                <div class="col m8 offset-m2">
                    <h1 class="white-text">profil de {{ contributor.firstname }}</h1>

                <table class="table">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ contributor.email }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ contributor.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ contributor.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ contributor.phone }}</td>
                    </tr>
                    <tr>
                        <th>Activé</th>
                        <td>{{ contributor.enable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ contributor.roles ? contributor.roles|json_encode : 'pas de rôle trouvé' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn" href="{{ path('app_home') }}">Retour à la page d'accueil</a>

                <a class="btn" href="{{ path('contributor_edit', {'contributor': contributor.id}) }}">Editer le profil</a>

            </div>
        </div>
    </div>
{% endblock %}
