{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="card light-blue darken-4" >
            <div class="card-content row">
                <div class="col s6">
                    {% if contributor.profilePictureName %}
                        <img src="{{ asset('img/profilePictures/'~contributor.email~'/'~contributor.profilePictureName) }}" class="responsive-img" alt="default">
                    {% else %}
                        <img src="{{ asset('img/no-profile.jpg') }}" width="200px" height="200px" alt="user-pciture">
                    {% endif %}
                </div>
                <div class="col s6">
                    {{ form_start(formImage) }}
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            {{ form_widget(formImage.profilePicture) }}
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <button class="btn-small">Changer d'image</button>
                    {{ form_end(formImage) }}
                </div>
                <h4 class="col s12 white-text">Profil de {{ contributor.firstname }} {{ contributor.lastname }}</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Pseudo</th>
                        <td>{{ contributor.pseudo ?  contributor.pseudo : 'Pas de pseudo'}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ contributor.email }}</td>
                    </tr>
                    <tr>
                        <th>Prénom</th>
                        <td>{{ contributor.firstname }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ contributor.lastname }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ contributor.phone }}</td>
                    </tr>
                    <tr>
                        <th>Campus</th>
                        <td>{{ contributor.phone ? 'campus affiché' : 'Pas de campus trouvé' }}</td>
                    </tr>
                    <tr>
                        <th>Activé</th>
                        <td>{{ contributor.enable ? 'Oui' : 'Non' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn" href="{{ path('app_home') }}">Retour à la page d'accueil</a>

                <a class="btn" href="{{ path('contributor_edit', {'contributor': contributor.id}) }}">Editer le
                    profil</a>

            </div>
        </div>
    </div>
{% endblock %}
