{% extends 'base.html.twig' %}

{% block title %}Détail de l'activité{% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
        <div class=" card  grey lighten-5">
            <br class="row container">
            <table class="table container">
                <tbody>
                <tr>
                    <th>
                        <h1>Activité: {{ trip.name }}</h1>
                    <th>Commence le: {{ trip.startedAt ? trip.startedAt|date('d/m/Y à H:i') : '' }}
                        {%if trip.location is not null%}<h3>Lieu: {{ trip.location.name }}</h3> {%endif%}
                    </th>
                </tr>
                <tr>
                    <th>Durée de l'activité</th>
                    <td>{{ trip.duration }}</td>
                </tr>
                <tr>
                    <th>Limite d'inscription</th>
                    <td>{{ trip.registrationLimit ? trip.registrationLimit|date('d/m/Y à H:i') : '' }}</td>
                </tr>
                <tr>
                    <th>Nombre de participants inscrits</th>
                    <td>{{ trip.contributors|length }} / {{ trip.registrationNumber }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ trip.description }}</td>
                    </br>
                <tr>
                    {% if trip.contributors is empty %}
                        <th>participants</th>
                        <td>Pas encore de participants inscrit!</td>
                    {% else %}
                        <br class="row container">
                        <table class="container responsive-table light-blue darken-4">
                            <tbody>
                            <tr class="white-text">
                                <th>participants</th>
                                <td>PSEUDO</td>
                                <td>Nom du participant</td>
                                <td>Détail</td>
                            </tr>

                            {% for contributor in trip.contributors %}
                                <tr>
                                    <td></td>
                                    <td class="white-text">{{ contributor.pseudo }}</td>
                                    <td class="white-text">{{ contributor.firstname }} {{ contributor.lastname }}</td>
                                    <td>
                                        <a class="btn-small" href="{{ path('contributor_profile', {'contributor': contributor.id}) }}"><i
                                                    class="material-icons">zoom_in</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </tr>
                </tbody>

            </table>
            <div style="padding: 20px">
                <a class="btn" href="{{ path('app_showTrips') }}">Retour à la liste</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

