{% extends 'base.html.twig' %}
{% block title %}ENI-Sortie - Liste des sorties{% endblock %}
{% block body %}

    <div class="container">
    <div class="card">
        <div class="card-content row">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div style="margin-bottom: 2em" class="col s12">
                    <a class="btn" href="{{ path('app_addTrip') }}">Ajouter une sortie</a>
                </div>
            {% endif %}
            {{ form_start(form) }}
            <div class="col s6">
                {{ form_row(form.campus) }}
            </div>

            <label class="col s6">
                {{ form_widget(form.organizedByMe) }}
                <span>Sorties que j'ai organisé</span>
            </label>
            <label class="col s6">
                {{ form_widget(form.mySubscription) }}
                <span>Sorties où je suis inscrit</span>
            </label>
            <label class="col s6">
                {{ form_widget(form.notSubscribed) }}
                <span>Sortie où je ne suis pas inscrit</span>
            </label>
            <label class="col s6">
                {{ form_widget(form.tripPassed) }}
                <span>Sorties passées</span>
            </label>
            <div class="col s6">
                {{ form_row(form.nameSearch) }}
            </div>

            <div class="col s6">
                {{ form_widget(form.dateStartedAt) }}
            </div>
            <div class="col s6">
                {{ form_widget(form.dateEndedAt) }}
            </div>
            <div>
                <button class="btn-small" type="submit">Rechercher</button>
            </div>
            {{ form_end(form) }}
            <div class="card-content">
                <div>
                    <table class="responsive-table">
                        <thead>
                        <tr>
                            <th>Nom de la sortie</th>
                            <th>Date de la sortie</th>
                            <th>Clôture</th>
                            <th>Inscrits/place</th>
                            <th>Etat</th>
                            <th>Inscrit</th>
                            <th>Organisateur</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for trip in trips %}
                            <tr>
                                <td>{{ trip.name }}</td>
                                <td>{{ trip.startedAt|date('d/m/Y H:i') }}</td>
                                <td>{{ trip.registrationLimit|date('d/m/Y H:i') }}</td>
                                <td>{{ trip.contributors|length }} / {{ trip.registrationNumber }}</td>
                                <td>{{ trip.status.label }}</td>
                                {% if app.user in trip.contributors %}
                                    <td>X</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td> {% if trip.promoterContributor is not null %}
                                    {{ trip.promoterContributor.firstname }} {{ trip.promoterContributor.lastname }}</td>
                                {% endif %}
                                <td>
                                    {% if trip.status.label != "Annulée" and trip.status.label != "Clôturée"%}
                                        {% if app.user %}
                                            {% if app.user in trip.contributors %}
                                                <a class="btn-small tooltipped" data-tooltip="Se désinscrire"
                                                   href="{{ path('app_unsubscribeTrip', {'trip': trip.id}) }}"><i
                                                            class="material-icons">remove</i></a>
                                            {% else %}
                                                <a class="btn-small tooltipped" data-tooltip="S'inscrire"
                                                   href="{{ path('app_subscribeTrip', {'trip': trip.id}) }}"><i
                                                            class="material-icons">add</i></a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    {% if trip.promoterContributor == app.user %}
                                        <a class="btn-small tooltipped" data-tooltip="Editer la sortie" href="{{ path('app_editTrip', {'trip': trip.id}) }}"><i class="material-icons">edit</i></a>
                                        <a class="btn-small tooltipped" data-tooltip="Annuler la sortie"
                                           href="{{ path('app_cancelTrip', {'trip': trip.id}) }}"><i
                                                    class="material-icons">cancel</i></a>
                                    {% endif %}
                                    <a data-tooltip="Plus d'info" class="btn-small tooltipped" href="{{ path('app_showTrip', {'trip': trip.id}) }}"><i
                                                class="material-icons">zoom_in</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}