
<nav class="light-blue darken-4">
    <div class="nav-wrapper container">
        <a href="{{ path('app_showTrips') }}" class="brand-logo">  <img src="img/logo/logo-header.png" width="auto" height="68px"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('main_cities') }}">Villes</a></li>
            <li><a href="">Campus</a></li>
            <li><a href="{{ path('contributor_profile', {'contributor': app.user.id }) }}">Mon profil</a></li>
            <li><a href="{{ path('contributor_new') }}">Créer utilisateur</a></li>
            <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav blue-grey darken-4" id="mobile-demo">
    <li><a href="">Accueil</a></li>
    <li><a href="{{ path('main_cities') }}">Villes</a></li>
    <li><a href="">Campus</a></li>
    <li><a href="{{ path('contributor_profile', {'contributor': app.user.id }) }}">Mon profil</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('contributor_new') }}">Créer utilisateur</a></li>
    {% endif %}

    <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
</ul>