{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
   <h1>Liste des villes</h1>

   <table class="table">
      <thead>
      <tr>
         <th>Ville</th>
         <th>Code Postal</th>
         <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {% for city in cities %}
         <tr>
            <td>{{ city.name }}</td>
            <td>{{ city.postalCode }}</td>
            <td>
               <a class="btn" href="{{ path('edit_city', {'city': city.id}) }}">Editer</a>
               <a class="btn" href="{{ path('delete_city', {'city': city.id}) }}">Enlever</a>
            </td>
         </tr>
      {% else %}
         <tr>
            <td colspan="4">no records found</td>
         </tr>
      {% endfor %}
      </tbody>
   </table>
</br>
   <a class="btn" href="{{ path('add_city') }}">Ajouter une ville</a>
{% endblock %}
